# Server Configuration
PORT=3000
NODE_ENV=development

# JanusGraph Configuration
JANUS_HOST=localhost
JANUS_PORT=8182
JANUS_PATH=/gremlin

# JWT Configuration (add your own secret)
JWT_SECRET=4feaa860d65b60fc58ac0b748d003d4efce0f5752e8ac42133252da0add6d536
JWT_REFRESH_SECRET=c6174ee43716556a809dc3d301bb83a4fb149ce00f1d3ccda7f910e2bcb14e8e
JWT_ACCESS_EXPIRY=24h
JWT_REFRESH_EXPIRY=7d

# OTP Configuratio
STATIC_OTP=123456

# Optional: Docker Configuration
JANUSGRAPH_CONTAINER_NAME=janusgraph-default
JANUSGRAPH_MEMORY_OPTS=-Xms512m -Xmx1024m